<a href="https://colab.research.google.com/github/MMBAYAR/IPG23/blob/main/i_pg23_hafta9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **VERİ BİLİMİ/MAKİNE ÖĞRENMESİ KÜTÜPHANELERİNE GİRİŞ**

##  **2. Pandas**

**Pandas** Veri tablolarının (*DataFrame*) ya da hesap tablolarının (*Spreadsheet*);
- oluşturulması,
- var olan veri tablolarının oturuma çağırılması,
- düzenlenmesi,
- özetlenmesi,
- görselleştirimesi<br>ve
- anlaşılırlığının artırılması

amaçlarıyla kullanılan bir Python veri bilimi kütüphanesidir. Veri bilimi üzerine çalışacak olan bir araştırmacının olmazsa olmazlarındandır.<br><br>
**9. hafta**, 3 haftalık Pandas dersleri serisinin ilk dersidir. Ve bu derste;
- Pandas kütüphanesinin kurulumu,
- Pandas kütüphanesinin Colab oturum belleğine çağırılması,
- Pandas kütüphanesi ile bir Veri Tablosunun (*DataFrame*) oluşturulması,
- Bir Veri Tablosunun düzenlenmesi:
 - Veri girişi yapılması,
 - Veri değişikliği yapılması,
 - Veri tablolarına yeni sütun ve yeni satır eklenmesi
- Veri tablolarının bir Excel dosyası biçeminde (format) kalıcı hafızaya aktarılması,
- Var olan veri tablosunun colab oturum belleğine çağırılması

konuları tanıtılmaktadır.

## **Pandas Kütüphanesinin Kurulumu**

Colab ortamı linux işletim sistemine sahip bir uzak bilgisayar üzerinde çalışmaktadır.<br>Bu linux işletim sistemine bir Python kütüphanesinin kurulumu için Colab ortamı üzerinden bu işletim sistemine komut vermek gereklidir:
<br><br>***!pip install kütüphane_adı***<br><br>
Bu kod parçasının başındaki "**!**" colab aracılığıyla linux işletim sistemine komut verildiğini ifade eder. "Python paket/kütüphane yükleyicisi"ne (Python package installar, **pip**) "**install**" kur komutunu vererek henüz yüklü olmayan bir kütüphaneyi kurabilirsiniz.<br><br>
**Colab** ortamında bir çok Python kütüphanesi zaten kurulu durumdadır.
<br><br>
Kurulu olan bir kütüphane için kurulum komutu verdiğinizde "*Requirement already satisfied* - kütüphanede zaten kuruludur" uyarısını alırsınız.
<br><br>

In [1]:
#  Pandas kütüphanesi yükle değilse yüklüyorum
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

<br><br>
Pandas kütüphanesi zaten kuruluymuş!
<br><br>
##  **Pandas Kütüphanesinin Oturum Belleğine Çağırılması**<br><br>
Hadi bu kütphaneyi colab oturum belleğine çağıralım. Bunu yapmanın bir çok yolu var...
- tüm alt kütüphaneleri ve içerdikleri fonksiyonları çağırırken **kütüphane adını kullanmak** üzere:
 - ***import pandas***<br><br>
 - ***değişken = pandas.DataFrame(...)***
- tüm alt kütüphaneleri ve içerdikleri fonksiyonları çağırırken **kütüphane adı yerine vereceğiniz bir adı kullanmak** üzere:
 - ***import pandas as pd***<br><br>
 - ***değişken = pd.DataFrame(...)***
- **tüm** alt kütüphaneleri ve içerdikleri fonksiyonları çağırırken **kütüphane adını kullanmamak** üzere:
 - ***from pandas import****<br><br>
 - ***değişken = DataFrame(...)***
- **yalnızca kullanacağınız** alt kütüphaneyi ve içerdiği fonksiyonları çağırmak:
 - ***from numpy import random***<br><br>
 - \#  2 defa hilesiz bir bozuk para ile yazı-tura atmak:
 - ***random.choice( ['Tura', 'Yazı', ], size = 1, p = [.5, .5] )***
 <br>

bu seçenek, genellikle bellekten (RAM) tasarruf sağlamak için uygulanır.
<br><br>

In [2]:
#  Pandas kütüphanesini oturum belleğine çağırıyorum
import pandas as pd

<br><br>
Pandas kütüphanesi içinde en yaygın olarak kullanacağımız fonksiyon, **.DataFrame( )** fonksiyonu olacaktır.<br><br>
***pd.DataFrame?***
<br><br>
kodunu çalıştırınız.
<br><br>

In [3]:
pd.DataFrame?

<br><br>
***pd.DataFrame?***
<br><br>
kodunda "**?**" arkasına geldiği ifade ile ilgili olarak yardım menüsünü açacaktır.<br><br>
Yardım menüsü, önemli bilgiler içerir. Örneğin burada olduğu gibi bir fonksiyon için;
- fonksiyonun argümanlarını (içine ne yazılması gerektiğini),<br>ve
- fonksiyonun örnek kullanımlarını verir.
<br><br>

Yardım menüsü kullanmayı, internette karşılaştığınız sorunları aratmayı ve bulduğunuz önerileri anlamayı öğrenmeniz son derece kritiktir.<br><br>

<br><br>
##  **Bir Veri Tablosu Oluşturulması**<br><br>
Veri tabloları, önceden satır ve sütun sayısı belirlenerek ve isteğe bağlı olarak içine yazılacak veri tanımlanarak oluşturulur.<br><br>
4 satırı ve 1 sütunu olan bir veri tablosu oluşturup bu veri tablosunu df adındaki bir değişkene atayalım:
<br><br>
Bunun için pandas'ın ".DataFrame()" fonksiyonunu kullanacağız. "D" ve "F"nin büyük harfle yazıldığına lütfen dikkat ediniz.<br><br>
Bu fonksiyonun iki tane olmazsa olmaz argümanı vardır:
- index,
- columns

**index**, satırları adreslemekte kullanacağınız indislerin bir gruplayıcı biçiminde sunulmasını gerektirir. Gruplayıcının içerdiği üye sayısı ile veri tablonuzun satır sayısını da belirlemiş olursunuz.<br><br>
**columns**, sütunları adreslemekte kullanacağınız sütun başlıklarının bir gruplayıcı biçiminde sunulmasını gerektirir. Gruplayıcının içerdiği üye sayısı ile veri tablonuzun sütun sayısını da belirlemiş olursunuz.
<br><br>

In [4]:
#  Bir veri tablosu oluşturmak
#    - 4 satırlı,
#    - 1 sütunlu bir veri tablosu olacak

#  adı "df" olan bir değişken tanımlıyorum
df = None
#  boş bir veri tablosu atıyorum
df = pd.DataFrame(
    index = ['İlk','İkinci','Üçüncü','Dördüncü'],
    columns = ['Ad']
)

In [5]:
#  Oluşturduğum Veri Tablosunu inceliyorum
df

           Ad
İlk       NaN
İkinci    NaN
Üçüncü    NaN
Dördüncü  NaN

<br><br>
"**NaN**": "Not a number" demektir, "None" değerinin pandastaki karşılığıdır. Boş hücrelerde görülür.<br><br>
##  **Veri Tablosuna Veri Girmek**<br><br>
Bir veri tablosu için "**.iloc[...]**" metodu, veri tablosunun istenilen satırını satır sırasına göre getirir.
<br><br>

In [6]:
#  .iloc[] yöntemi ile değer girmek: ilk satırda verimiz 'Mariama' olsun.

df.iloc[ 0 ] = ['Mariama']
df

               Ad
İlk       Mariama
İkinci        NaN
Üçüncü        NaN
Dördüncü      NaN

In [7]:
#  Veri tablosunun ilk satırını çağırmak

df.iloc[0]

Ad    Mariama
Name: İlk, dtype: object

<br><br>
Bir veri tablosu için "**.loc[...]**" metodu, veri tablosunun istenilen satırını indis adına göre getirir.
<br><br>

In [8]:
#  .loc[] yöntemi ile değer girmek: "İkinci" satırının verisi 'Burak' olsun.

df.loc[ 'İkinci' ] = ['Burak']
df

               Ad
İlk       Mariama
İkinci      Burak
Üçüncü        NaN
Dördüncü      NaN

In [9]:
#  Veri tablosunun istenilen satırlarını çağırmak:


df.loc[ ['İlk','İkinci'] ]

             Ad
İlk     Mariama
İkinci    Burak

<br><br>
"**.loc[ indis_adı ]**" metodu ile veri girişi, tabloda **henüz var olmayan** bir indis için uygulandığında tabloya o indis adıyla yeni bir satır ekler.
<br><br>

In [10]:
df.loc['Önceden_Olmayan_Yeni_İndis'] = [None for i in df.columns]
df

                                 Ad
İlk                         Mariama
İkinci                        Burak
Üçüncü                          NaN
Dördüncü                        NaN
Önceden_Olmayan_Yeni_İndis     None

<br><br>
Neden bu yeni satıra veri girmek için "df.columns gruplayıcısının tüm üyeleri için..." yapısının kullanıldığını düşününüz.
<br><br>

<br><br>
##  **Veri Tablosuna Yeni Bir Sütun Eklemek**
<br><br>
Bir veri tablosuna yeni bir sütun eklemek için önce bir veri tablosunun istenilen bir sütun verisini çağırmayı görelim.<br><br>
"**df[ sütun_adı ]**"<br><br>ya da<br><br>
"**df.sütun_adı**"<br><br>
kullanımı, ilgili sütun verisini çağıracaktır. Ancak; sütun adları boşuk karakteri içeriyorsa ikinci yöntem çalışmayacaktır. Alışkanlık olarak ilk yöntemi kullanmanız önerilir.<br><br>

In [11]:
#  Ad sütunundaki veriyi çağırıyorum

df['Ad']

İlk                           Mariama
İkinci                          Burak
Üçüncü                            NaN
Dördüncü                          NaN
Önceden_Olmayan_Yeni_İndis       None
Name: Ad, dtype: object

In [12]:
#  Ad sütununa veri giriyorum:

df['Ad'] = ['Mariama', 'Burak', 'Gül', 'Ayşe Nur', 'Bir diğer öğrenci']
df

                                           Ad
İlk                                   Mariama
İkinci                                  Burak
Üçüncü                                    Gül
Dördüncü                             Ayşe Nur
Önceden_Olmayan_Yeni_İndis  Bir diğer öğrenci

<br><br>
Sütun adı anarak veri girişi yapmak, veri tablosunda **henüz var olmayan** bir sütun adı ile uygulandığında o ada sahip yeni bir sütun ekleyecektir.
<br><br>

In [13]:
df['Yeni sütun'] = [None for i in df.index]
df

                                           Ad Yeni sütun
İlk                                   Mariama       None
İkinci                                  Burak       None
Üçüncü                                    Gül       None
Dördüncü                             Ayşe Nur       None
Önceden_Olmayan_Yeni_İndis  Bir diğer öğrenci       None

<br><br>
Neden veri girişinde "df.index gruplayıcısının tüm üyeleri için..." veri tanımlaması yapıldığını düşününüz.
<br><br>

In [14]:
#  df.sütun_adı metodu ile sütun verisi çağırmanın kırılganlığı:

df.Yeni sütun

SyntaxError: ignored

In [15]:
#  df.sütun_adı metodu, yeni sütun eklemek için de kullanılamaz!
df.yeni_sütun = [None for i in df.index]
df

<ipython-input-15-53a90412649a>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.yeni_sütun = [None for i in df.index]

                                           Ad Yeni sütun
İlk                                   Mariama       None
İkinci                                  Burak       None
Üçüncü                                    Gül       None
Dördüncü                             Ayşe Nur       None
Önceden_Olmayan_Yeni_İndis  Bir diğer öğrenci       None

<br><br>
##  **Bir Veri Tablosundan Bir Sütunu ya da Satırı Silmek**<br><br>

İlgilendiğimiz veri tablosunun "*değişken*" adındaki bir değişkene atandığını varsayarak başlayalım.<br><br>
***değişken.drop( satır/sütun_adı, axis = 0/1 )***<br><br>
taslak kodunda olduğu gibi **.drop()** metodu ile veri tablolarından satırlar ya da sütunlar silinebilir.
- ***değişken.drop( satır_adı, axis = 0 )*** örneğinde görüldüğü gibi ilgili veri tablosundan bir satır silinmek istenildiğinde **.drop()** metodu içine satırın adı (indisi) ve ***axis = 0*** parametresi girilmelidir.
- ***değişken.drop( sütun_adı, axis = 1 )*** örneğinde görüldüğü gibi ilgili veri tablosundan bir sütun silinmek istenildiğinde **.drop()** metodu içine sütunun adı (başlığı) ve ***axis = 1*** parametresi girilmelidir.

<br>Silinecek satırın adını (indisini) ya da sütunun adını (başlığını) hatırlayamıyor ancak; bu satırın ya da sütunun sırasını hatırlıyorsanız son eklenen satır adı için;<br><br>
***değişken.drop( df.index[-1], axis = 0 )***<br><br>
ve son eklenen sütun adı için de;<br><br>
***değişken.drop( df.columns[-1], axis = 1 )***<br><br>
kod taslaklarında sunulan gruplayıcı içinden son üyeyi getirme mantığı örnek alınabilir.<br><br>

In [16]:
#  Veri tablomuzun silme işlemlerinden önceki halini hatırlayalım
df

                                           Ad Yeni sütun
İlk                                   Mariama       None
İkinci                                  Burak       None
Üçüncü                                    Gül       None
Dördüncü                             Ayşe Nur       None
Önceden_Olmayan_Yeni_İndis  Bir diğer öğrenci       None

In [17]:
#  Veri tablosuna eklenen son sütunu silelim

df.drop(
    ['Yeni sütun',],
    axis = 1
)

                                           Ad
İlk                                   Mariama
İkinci                                  Burak
Üçüncü                                    Gül
Dördüncü                             Ayşe Nur
Önceden_Olmayan_Yeni_İndis  Bir diğer öğrenci

In [18]:
#  Yeniden veri tablomuzu inceleyelim

df

                                           Ad Yeni sütun
İlk                                   Mariama       None
İkinci                                  Burak       None
Üçüncü                                    Gül       None
Dördüncü                             Ayşe Nur       None
Önceden_Olmayan_Yeni_İndis  Bir diğer öğrenci       None

<br><br>
**DİKKAT!: Silme işlemleri sonunda elde edilen yeni veri tablosu eski veri tablosunu içeren değişkenin yeni değeri olarak güncellenmediği sürece orijinal veri tablosu korunacaktır.**
<br><br>

In [19]:
#  Veri tablomuzu son sütunu silinmiş hali olarak güncelleyelim

df = df.drop( df.columns[-1], axis = 1)

df

                                           Ad
İlk                                   Mariama
İkinci                                  Burak
Üçüncü                                    Gül
Dördüncü                             Ayşe Nur
Önceden_Olmayan_Yeni_İndis  Bir diğer öğrenci

<br><br>
**Şimdi bir de son satırı da silelim...**
<br><br>

In [20]:
#  Veri tablomuzu son satırı silinmiş hali olarak güncelleyelim

df = df.drop( df.index[-1], axis = 0 )

df

                Ad
İlk        Mariama
İkinci       Burak
Üçüncü         Gül
Dördüncü  Ayşe Nur

<br><br>
Arzu edilen işlem; yalnızca yanlış girilmiş veya değeri değişmiş bir verinin değiştirilmesi ise bütün bir satırın ya da sütunun silinmesine gerek olmayabilir.<br><br>
Bu tür durumlarda yalnızca ilgili veri tablosu hücresinin değerini yeniden tanımlamak yeterli olacaktır.
<br><br>

In [21]:
#  Öğrencilerin Harf Notunu İçeren Bir Sütunu Veri Tablomuza Ekleyelim

from numpy import random

df['Harf_Notu'] = random.choice( ['AA','BB','CC','DD','FF'], size = 4, p = [1/5,1/5,1/5,1/5,1/5,] )

df

                Ad Harf_Notu
İlk        Mariama        BB
İkinci       Burak        CC
Üçüncü         Gül        AA
Dördüncü  Ayşe Nur        FF

In [22]:
#  Şimdi veri tablosunda ilk öğrencinin notunun "AA" yerine başka bir not girildiğini düşünelim

#    Yanlış girilmiş olan notu görmenin bazı farklı yolları
df.iloc[0,1], df['Harf_Notu'][0], df.Harf_Notu[0], df.loc['İlk', 'Harf_Notu']

('BB', 'BB', 'BB', 'BB')

In [23]:
#    Biz "Mariama"nın notunu yanlış girdiğimizi biliyoruz ancak; "Mariama"nın veri tablomuzda kaçıncı öğrenci olduğunu hatırlayamıyorsak;

#      Önce liste/sözlük içlemlerinde öğrendiğimiz filtreleme yaklaşımını veri tablolarında deneyelim:
#      Veri tablosunun Ad'ı 'Mariama' olan alt kümesini çağıralım

df[ df.Ad == 'Mariama' ]

          Ad Harf_Notu
İlk  Mariama        BB

In [24]:
list(df.index).index('İlk')

0

In [25]:
#      Şimdi de bu alt kümede 'Harf_Notu'nu düzeltelim

#        .loc[] metodu ile veri güncelleyelim
df.loc[ df[ df.Ad == 'Mariama' ].index, 'Harf_Notu' ] = 'AA'

#        .iloc[] metodu ile veri güncelleyelim (Ad değeri 'Mariama' olan satır indisi, indisler listesinin kaçıncı elemanıdır?)
df.iloc[ list(df.index).index(df[ df.Ad == 'Mariama' ].index), 1 ] = 'AA'

df

                Ad Harf_Notu
İlk        Mariama        AA
İkinci       Burak        CC
Üçüncü         Gül        AA
Dördüncü  Ayşe Nur        FF

<br><br>
##  **Oturum Sırasında Oluşturulan Bir Veri Tablosunun Kalıcı Hafızaya Aktarılması:**<br>***Veri Tablolarının Excel Dosyası Biçeminde Kaydedilmesi***
<br><br>

"değişken" adında bir değişkene bir veri tablosunun atandığını varsayalım.<br><br>
**değişken.to_excel( 'kaydedilen/yol/dosya_adı.xlsx' )**

In [26]:
#  veri tablosunu excel dosyası olarak indirmek

df.to_excel( 'Öğrenciler.xlsx' )

<br><br>
- Colab oturumu ekranının solundaki dikey sekmeler içerisinde, "dosya" simgesine tıklayınız.<br><br>

![Screenshot9.1.png]()

<br><br>
- Açılan sekme içerisinde adlandırıp uzak bilgisayara kaydettiğiniz dosyanızı, çift tıklayarak yerel cihazınıza indirebilirsiniz.<br><br>
![Screenshot9.2.png]()
<br><br>

<br><br>
- Benzer biçimde, yerel cihazınızdan bu alana istediğiniz bir dosyayı sürükleyip bırakarak uzak bilgisayara aktarabilirsiniz.<br><br>
##  **Colab Ortamına Yerel Cihazınızdan Bir Dosyayı Aktarmak:**<br>***Bir Dosyasını Veri Tablosu Olarak Çağırmak***
<br><br>
- Bu şekilde uzak bilgisayara aktardığınız bir dosyayı Colab oturumunuza çağırabilmek için dosyanın üzerine fare imlecini getirdiğinizde satırın sağında çıkan " $\ \vdots \ $ " (üç notka) simgesine tıklayınız.
- Açılan menüde "Yolu Kopyala" ya da "Copy Path" seçeneğine tıklayınız.
- Bu dosya yolunu dosyayı Colab oturumuna çağırırken; 
<br><br>***değişken = pd.read_excel( ' kopyaladığınız_dosya_yolunu_buraya_yapıştırın ' ,  )***<br><br>kod şablonundaki gibi kullanabilirsiniz.

In [28]:
#  Uzak Bilgisayarın Oturumunda "Öğrenciler.xlsx" Dosyasını Gördük;
#    Yukarıdaki kod şablonunu uyguluyoruz...

df = pd.read_excel( '/content/Öğrenciler.xlsx', )
df

  Unnamed: 0        Ad Harf_Notu
0        İlk   Mariama        AA
1     İkinci     Burak        CC
2     Üçüncü       Gül        AA
3   Dördüncü  Ayşe Nur        FF

<br><br>
**İndislerimizi içeren sütuna "Adlandırılmamış: 0" başlığı verilmiş ve yeni bir indis sütunu oluşturulmuş...**<br><br>
Bu büyük olasılıkla arzu edilmeyen bir durumdu. Hadi düzeltelim ve Python'a indis sütunumuzun 0. sütun (ilk sütun) olduğunu söyleyelim:
<br><br>

In [29]:
df = pd.read_excel( '/content/Öğrenciler.xlsx', index_col=0)
df

                Ad Harf_Notu
İlk        Mariama        AA
İkinci       Burak        CC
Üçüncü         Gül        AA
Dördüncü  Ayşe Nur        FF

<br><br>
##  **İki Veri Tablosunun Birleştirilmesinde .append() Metodu Kullanımı**
<br><br>

In [30]:
#  Önce ikinci Veri Tablosu Olarak İlk Tablonun Kopyasını Alalım

df2 = df.copy()
df2

                Ad Harf_Notu
İlk        Mariama        AA
İkinci       Burak        CC
Üçüncü         Gül        AA
Dördüncü  Ayşe Nur        FF

In [31]:
#  Yeni Veri Tablosunun İndislerini Değiştirelim

df2.index = ['Beşinci','Altıncı','Yedinci','Sekizinci',]
df2

                 Ad Harf_Notu
Beşinci     Mariama        AA
Altıncı       Burak        CC
Yedinci         Gül        AA
Sekizinci  Ayşe Nur        FF

In [33]:
#  Yeni Veri Tablosunun Ad Sütununu Da Halledelim

df2['Ad'] = ['Ad_1','Ad_2','Ad_3','Ad_4',]
df2

             Ad Harf_Notu
Beşinci    Ad_1        AA
Altıncı    Ad_2        CC
Yedinci    Ad_3        AA
Sekizinci  Ad_4        FF

In [34]:
#  Şimdi İki Veri Tablosunu Birleştirelim
#    ilk tablonun sonuna ikinci tabloyu ekleyelim

df = df.append( df2, ignore_index= True )
df

<ipython-input-34-f4d4e3ee23f6>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append( df2, ignore_index= True )

         Ad Harf_Notu
0   Mariama        AA
1     Burak        CC
2       Gül        AA
3  Ayşe Nur        FF
4      Ad_1        AA
5      Ad_2        CC
6      Ad_3        AA
7      Ad_4        FF